:root {
  --White: #FFFFFF;
  --LightGray: #F2F2F2;
  --LightBlack: #1E5151;
  --Dark: #111517;
  --grass: #9BCC50;
  --water: #4592c4;
  --fire: #fd7d24;
  --flying:  #3dc7ef;
  --bug: #729f3f;
  --electric: #eed535;
  --ground: #ab9842;
  --normal: #a4acaf;
  --poison: #b97fc9;
  --rock: #a38c21;
  --psychic: #f366b9;
  --ice: #3dc7ef;
  --fairy: #fdb9e9;
  --ghost: #7b62a3;
  --fighting: #d56723;
  --dragon: #53a4cf;
}
