// Backgrounds
.bgWhite{
    background-color: var(--White);
}

.bgGray{
  background-color: var(--LightGray);
}

.bgGrass{
  background-color: var(--grass);
}

// Cores
.cl-white{
    color: var(--White)
}

.cl-dark{
  color: var(--Dark)
}

.cl-dark-light{
  color: var(--LightBlack)
}
