// Backgrounds
.bgWhite{
    background-color: var(--White);
}

.bgGray{
  background-color: var(--LightGray);
}

//Types bg
.grass{
  background-color: var(--grass);
}

.fire{
  background-color: var(--fire);
}

.water{
  background-color: var(--water);
}

.bug{
  background-color: var(--bug);
}

.normal{
  background-color: var(--normal);
}

.poison{
  background-color: var(--poison);
}

.electric{
  background-color: var(--electric);
}

.fairy{
  background-color: var(--fairy);
}

.ground{
  background-color: var(--ground);
}

.fighting{
  background-color: var(--fighting);
}

.psychic{
  background-color: var(--psychic);
}

.ghost{
  background-color: var(--ghost);
}

.rock{
  background-color: var(--rock);
}

.ice{
  background-color: var(--ice);
}

.dragon{
  background-color: var(--dragon);
}
//Fim Types bg

// Cores
.cl-white{
    color: var(--White)
}

.cl-dark{
  color: var(--Dark)
}

.cl-dark-light{
  color: var(--LightBlack)
}
