<div class="card flex justify-center" [ngClass]="pokemon.tipo | slice:0:1">
  <div class="card-content flex flex-column justify-center">
    <img
      src={{pokemon.imagem}}
      alt={{pokemon.nome}}
      class="card-content--sprite">

      <div class="justify-center">
        <h2 class="card-content--titulo text-center fw-light">{{pokemon.nome}}</h2>

        <div class="card-content--tipo flex justify-center ft-sm mt-5 cl-white text-uppercase" [ngClass]="pokemon.tipo | slice:0:1">
              {{pokemon.tipo | slice:0:1}}
        </div>
      </div>

  </div>
</div>
